<!-- Header -->
<header class="bg-primary py-5 mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-white mt-5 mb-2">Business Name or Tagline</h1>
        <p class="lead mb-5 text-white-50">
          ### Przedmiot działalności Przedsiębiorstwo Gospodarki Komunalnej Sp.
          z o.o. z siedzibą w Radzionkowie przy ul. Kużaja 17 jest miejską
          jednostką organizacyjną, powstałą w wyniku likwidacji Zakładu
          Gospodarki Komunalnej w Radzionkowie celem przekształcenia w spółkę ze
          100 % udziałem Gminy Radzionków na podstawie Uchwały Nr XI/90/2015
          Rady Miasta Radzionków z dnia 25 czerwca 2015 roku. NIP: 645-25-44-977
          Regon: 363078245 Nr KRS: 0000594969 Rachunek bankowy: ING Bank Śląski
          S.A. 52 1050 1230 1000 0022 1768 1341 ### Działalność zakładu:
          Przedmiotem działalności przedsiębiorstwa jest: - pobór, uzdatnianie i
          dostarczanie wody, - odprowadzanie i oczyszczanie ścieków, działalność
          usługowa związana z gospodarką odpadami, działalność usługowa związana
          z zagospodarowaniem terenów zielonych, zbieranie odpadów, sprzątanie,
          wykonywanie wykopów i wierceń geologiczno-inżynierskich, wykonywanie
          instalacji wodno-kanalizacyjnych, cieplnych, gazowych i
          klimatyzacyjnych, roboty budowlane.
        </p>
      </div>
    </div>
  </div>
</header>
